#footer, #header {
	background-attachment: scroll;
	background-size: auto,cover;
	left: auto;
	position: relative;
	text-align: center;
	width: 100%
}
#footer, #header, #main {
	width: 100%
}
h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
	display: none
}
ul.icons li .icon {
	font-size: 1.25em
}
#header {
	background-position: top left, center center;
	padding: 6em 4em;
	top: auto
}
#header h1 {
	font-size: 1.75em
}
#header h1 br {
	display: inline
}
#footer {
	background-color: #1f1815;
	background-image: url(images/overlay50.png), url(../images/bg.png);
	background-position: top left, bottom center;
	background-repeat: repeat, no-repeat;
	bottom: auto;
	padding: 4em 4em 6em
}
#footer .copyright, #footer .heading, #footer .icons {
	margin: 0 0 1em
}
#footer .copyright li {
	border-left-width: 1px;
	display: inline-block;
	line-height: 1em;
	margin-left: .75em;
	padding-left: .75em
}
#main{
	margin: 0;
	padding: 6em 4em
}
